#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h1 {
  padding: 10px;
  text-align: center;
  font-family: "Tagesschrift";  
  color: rgb(230, 101, 16);
  
}

li {
  display: grid; 
  grid-template-columns: 300px;
  grid-template-rows: 200px; 
  row-gap: 135px; 
  background-color: rgb(238, 29, 175); 
  padding: 20px 20px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  color: black;
  border-style: dotted dashed solid double;
  border-color: yellow;
  border-width: thick;
  font-weight: bold;
  
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

